html, body{
    margin: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main {
    border: 1px solid white;
    height: 90%;
}